
@media screen {
    .h{
        height: 350px;
    }
    .ann{
        display: none;
    }
}

@media (min-width: 900px) and (max-width: 1350px) {
    .w{
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .col-m-6{
        width: 48%;
        margin: 0 5px 20px;

    }
    .roww{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cot{
        display: flex;
        flex-wrap: wrap;

    }
    .col-s-6{
        width: 30%;
        margin-bottom: 20px;
    }
    .ann{
        display: none;
    }
}

@media (min-width: 768px) and  (max-width: 1000px) {
    .col-m-6{
        width: 48%;
        margin: 0 5px 20px;

    }
    .col-m-4{
        width: 31%;
        margin: 0 5px 20px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }
    .h{
        height: 200px;
    }
    .p{
        padding: 0 50px;
    }
    .footer-body-top ul{
        width: 32%;
        margin-top: 20px;
    }
    .d{
        display: flex;
        flex-wrap: wrap;
    }
    .an{
        display: none;
    }
    .ct{
        justify-content: center;
    }
    .hien{
        display: flex;
    }
    .m{
        margin: 15px;
    }
}
@media (min-width: 360px) and  (max-width: 767px) {
    .col-m-6{
        width: 46%;
        margin: 0 5px 20px;

    }
    .col-m-4{
        width: 46%;
        margin: 0 5px 20px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }
    .h{
        height: 200px;
    }
    .p{
        padding: 0 10px;
    }
    .footer-body-top ul{
        width: 32%;
        margin-top: 20px;
    }
    .d{
        display: flex;
        flex-wrap: wrap;
    }
    .an,
    .annn{
        display: none;
    }
    .ct{
        justify-content: center;
    }
    .hienn{
        display: flex;
    }
    .hiennn{
        display: inline-block;
    }

    .img{
        width: 100%;
        height: 180px;
        padding-bottom: 20px;
    }
    .m{
        margin: 0;
        padding : 8px 10px;
    }
    .m-b{
        margin-bottom: 20px;
    }
    .footer-body-top ul span,
    .footer-body-top ul span b{
        font-size: 7px;
    }
    .map-body-content img {
        width: 130px;
        margin: 10px;
    }
    .logo img {
        width: 160px;
        height: 101px;
        margin-top: 0;
    }
    .h{
        height: 100px;
    }
    .h-img{
        height: 230px;
    }
    .bg{
        background-color: #2b2b2b;
    }
    .bg-2{
        background: #353434;
    }
    .bg-3{
        background-color: #000;
    }
    .bg-4{
        background-color: #fdb866;

    }
    .bd{
        border: none;
    }
    .bg-5{
        background-color: #3a3939;
    }
    .bg-6{
        background-color: #f3e8c7;
    }
    .bg-7{
        background-color: #444242;
    }
    .b-rd{
        border-radius: 10px;
    }
    .h-80{
        height: 80px;
        margin: 0 5px 10px;
    }
    .fl{
        flex-direction:column;
    }
    .p-rl{
        padding: 10px 10px;
    }
    .hide-dt{
        display: none;
    }
    .see{
        display: inline-block;
    }
    .w-100{
        width: 100%;
    }
}
